<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dawdler.user.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.dawdler.user.entity.User">
    <id column="userid" jdbcType="INTEGER" property="userid" />
    <result column="nickname" jdbcType="VARCHAR" property="nickname" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="addtime" jdbcType="INTEGER" property="addtime" />
    <result column="ipaddress" jdbcType="VARCHAR" property="ipaddress" />
    <result column="gold" jdbcType="DOUBLE" property="gold" />
    <result column="realname" jdbcType="VARCHAR" property="realname" />
    <result column="idcard" jdbcType="VARCHAR" property="idcard" />
  </resultMap>
  <sql id="Base_Column_List">
    userid, nickname, mobile, password, addtime, ipaddress, gold, realname, idcard
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyg_user
    where userid = #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from yyg_user
    where userid = #{userid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dawdler.user.entity.User">
    insert into yyg_user (userid, nickname, mobile, 
      password, addtime, ipaddress, 
      gold, realname, idcard
      )
    values (#{userid,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{addtime,jdbcType=INTEGER}, #{ipaddress,jdbcType=VARCHAR}, 
      #{gold,jdbcType=DOUBLE}, #{realname,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dawdler.user.entity.User">
    insert into yyg_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        userid,
      </if>
      <if test="nickname != null">
        nickname,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="ipaddress != null">
        ipaddress,
      </if>
      <if test="gold != null">
        gold,
      </if>
      <if test="realname != null">
        realname,
      </if>
      <if test="idcard != null">
        idcard,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userid != null">
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="nickname != null">
        #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=INTEGER},
      </if>
      <if test="ipaddress != null">
        #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="gold != null">
        #{gold,jdbcType=DOUBLE},
      </if>
      <if test="realname != null">
        #{realname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        #{idcard,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dawdler.user.entity.User">
    update yyg_user
    <set>
      <if test="nickname != null">
        nickname = #{nickname,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=INTEGER},
      </if>
      <if test="ipaddress != null">
        ipaddress = #{ipaddress,jdbcType=VARCHAR},
      </if>
      <if test="gold != null">
        gold = #{gold,jdbcType=DOUBLE},
      </if>
      <if test="realname != null">
        realname = #{realname,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null">
        idcard = #{idcard,jdbcType=VARCHAR},
      </if>
    </set>
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dawdler.user.entity.User">
    update yyg_user
    set nickname = #{nickname,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      addtime = #{addtime,jdbcType=INTEGER},
      ipaddress = #{ipaddress,jdbcType=VARCHAR},
      gold = #{gold,jdbcType=DOUBLE},
      realname = #{realname,jdbcType=VARCHAR},
      idcard = #{idcard,jdbcType=VARCHAR}
    where userid = #{userid,jdbcType=INTEGER}
  </update>
  <select id="selectPageListCount" parameterType="com.dawdler.user.entity.User" resultType="int">
    select count(1) from yyg_user
    <where>
      <if test="userid != null">
         and userid = #{userid,jdbcType=INTEGER}
      </if>
      <if test="nickname != null">
         and nickname = #{nickname,jdbcType=VARCHAR}
      </if>
      <if test="mobile != null">
         and mobile = #{mobile,jdbcType=VARCHAR}
      </if>
      <if test="password != null">
         and password = #{password,jdbcType=VARCHAR}
      </if>
      <if test="addtime != null">
         and addtime = #{addtime,jdbcType=INTEGER}
      </if>
      <if test="ipaddress != null">
         and ipaddress = #{ipaddress,jdbcType=VARCHAR}
      </if>
      <if test="gold != null">
         and gold = #{gold,jdbcType=DOUBLE}
      </if>
      <if test="realname != null">
         and realname = #{realname,jdbcType=VARCHAR}
      </if>
      <if test="idcard != null">
         and idcard = #{idcard,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <select id="selectPageList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from yyg_user
    <where>
      <if test="user.userid != null">
         and userid = #{user.userid,jdbcType=INTEGER}
      </if>
      <if test="user.nickname != null">
         and nickname = #{user.nickname,jdbcType=VARCHAR}
      </if>
      <if test="user.mobile != null">
         and mobile = #{user.mobile,jdbcType=VARCHAR}
      </if>
      <if test="user.password != null">
         and password = #{user.password,jdbcType=VARCHAR}
      </if>
      <if test="user.addtime != null">
         and addtime = #{user.addtime,jdbcType=INTEGER}
      </if>
      <if test="user.ipaddress != null">
         and ipaddress = #{user.ipaddress,jdbcType=VARCHAR}
      </if>
      <if test="user.gold != null">
         and gold = #{user.gold,jdbcType=DOUBLE}
      </if>
      <if test="user.realname != null">
         and realname = #{user.realname,jdbcType=VARCHAR}
      </if>
      <if test="user.idcard != null">
         and idcard = #{user.idcard,jdbcType=VARCHAR}
      </if>
    </where>
     limit #{page.start},#{page.row}
  </select>
</mapper>